:provide
  my.Template

.about(class="a")
  .about-inner
    h2.about-title(dynamic) О нас в трех предложениях
    a.about-more(href="/")&attributes({'id': 'about'})
      - var rnd = Math.random();
      img.about-more-icon(src=require('./i.svg'))&attributes({'id': 'img' + rnd})
      | Подробнее на
      = ' '
      strong awa.finance

    .about-items
      .about-item
        a.about-item-icon(href='/')
          img.about-item-img(src=require('./site.svg'))
        .about-item-text Тут надо написать про AWA и дать ссылку на
          = ' '
          a(href='/') основной сайт

      .about-item
        a.about-item-icon(href='/')
          img.about-item-img(src=require('./currency.svg'))
        .about-item-text Мы можем предложить низкий курс доллара за счет бронирования его в
          = ' '
          a(href='/') банках-партнерах

      .about-item
        a.about-item-icon(href='/')
          img.about-item-thumb(src=require('./shield.svg'))
          img.about-item-img(src=require('./telegram.svg'))
        .about-item-text Используем
          = ' '
          a(href='/') Telegram
          = ' '
          | как самое практичное и безопасное средство связи
